:root {
--font:'Open Sans', sans-serif;
--primary-color: #FE724C;
--primary-hover-color:#a02604;
--white-color: #fff;
--text-secondary-color: #5B5B5E;
--text-color: #000;
--separator-color:#D4D6E0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}